<% @user.following.each do |user| %>
    <table>
    <tr>
      <td>  <%= user.nickname %> </td>
      <td><%= render 'follow_form' %></td>
      <td><%= link_to '詳細', user_path(user) %></td>
    </tr>
    
    </table>
    <% end %>