<% @user.following.each do |user| %>
  <table>
  <tr>
    <td>  <%= user.nickname %> </td>
    <td><%= render 'follow_form', user: user %></td>
    <td><%= link_to I18n.t('activerecord.views.detail'), user_path(user) %></td>
  </tr>
  
  </table>
<% end %>