// Place all the styles related to the advisers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.heading02 {
    font-weight:bold;
    position: relative;
    padding: 10px;
    background: #b8b8b8;
    // margin-right:20px;
    width: 20%;
    margin-left: 50px;
    color: black;
  }
  .heading02:before {
    content: " ";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 0;
    border-color: transparent;
    border-right-color: #a6a6a6;
  }
  .heading02:after {
    content: " ";
    position: absolute;
    top: 0px;
    left: 100%;
    width: 0;
    height: 0;
    border-width: 22px 10px;
    border-style: solid;
    border-color: #b8b8b8;
    border-right-color: transparent;
  }
  .kensaku {
    margin-left: 55%;
    font-weight:bold;
    position: relative;
    background: #b8b8b8;
    padding: 10px;
    color: black;
  }

  .kensaku:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 25px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top: 10px solid #b8b8b8;
  }
.image_shape {
    border-radius: 50%;
  width: 180px;
  height: 180px;
}
.flex_display {
  display: flex;
}

.display {
  font-size: 18px;
}

.namae {
  font-size: 13px;
  margin-left: 15px;
  margin-right: 20px;
}
.link_css {
  font-size: 15px;
  margin-top: 30px;
  text-decoration: none;
}

.btn {
  background-color: green;
  color: white;
  border-radius: 10px;
}

.shokai {
  word-break: break-all;
  margin-top: 5px;
  margin-right: 10px;
  padding: 20px 40px;
}