// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.kidoku {
  color: black;
}

#message {
    background-image: url("/clothing-store.jpg");
    height: 100%;
    background-position: center center;
    }
.message-new {
  width: 40%;
  position: relative;
  margin: 50px 450px;
  display: inline-block;
  padding: 8px 25px 8px 25px;
  border: 2px solid #c69d18;
  background: none;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 11px;
  font-weight: 800;
  letter-spacing: 1px;
  cursor: pointer;
  color: black;
}
.message-new:after {
  position: absolute;
  top: 2px;
  left: -4px;
  content: "";
  height: 100%;
  width: 100%;
  z-index: -999;
  -webkit-transform: rotate(-1deg);
     -moz-transform: rotate(0deg);
}
 
.yellow:after { background:#f4ec5a; }
// .blue:after   { background:#00a1cb; }
// .green:after  { background:#19dd89; }
// .pink:after   { background:#d31996; }

.segment {
  padding: 0.2em 0.5em;
  margin: 10em 0;
  background: #d6ebff;
  box-shadow: 0px 0px 0px 10px #d6ebff;
  border: dashed 2px white;
  width: 70%;
  opacity: 0.8;
}
#toukou {
  background: green;
  border-radius: 10px 10px;
  color: white;
}