// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#user {
    background-image: url("/store.jpg");
    height: 100%;
    background-position: top center;
    // backdrop-filter: blur(4px);
  }

html {
  font-size: 62.5%;
  height: 100%;
  }
body {
  height: 100%;
  }
.container {
  position: relative;
  width: 100%;
  margin: 0;
  min-height: 100%;
  padding: 0;
  padding-bottom: 60px;
}
.header {
  height: 60px;
  width: 100%;
  background-color: rgb(255, 140, 0);
}

.footer {
  height: 60px;
  width: 100%;
  background-color: rgb(255, 140, 0);
  position: absolute;
  bottom: 0;
  display: table;
}

.copyright {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  color: blue;
}
.header-logo {
  font-size: 45px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-left: 20px;
  float:left;
  color: blue;
}

.header-list {
  float: right;
  line-height: 60px;
}
.header li {
  list-style: none;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
.header li .list {
  color: blue;
}
.content-new {
  margin-bottom: 100px
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.following {
  position: absolute;
  top: 50%;
  right: 50%;
}
// .registration {
//   max-width:400px;
//     border: solid 1px rgb(239, 255, 62);
//     border-radius:10px 10px 0px 0px;
// }
// .registration-header {
//   background: rgba(198, 197, 197, 0.988);
//     border-radius:10px 10px 0px 0px;
//     padding: 15px;
//     font-size: 25px;
// }
.panel {
  color : rgba(0,0,0,1);
  width: 30%;
  text-align: center;
  margin-left: 35%;
  border-radius: 30px 30px;
  opacity: 0.8;
}
.label {
  margin-left: 10px;
}
.profile {
  margin-left: 100px;
}
.stylist-check {
  color: rgba(255,0,0,1);
}
.field {
  margin-bottom: 10px;
}
.border {
  opacity: 1.0;
}
.label {
  color: rgba(255,255,255,1);
}

.box10 {
  padding: 0.5em 1em;
  margin: 0 auto;
  color: rgb(0, 74, 212);
  background: #fff;/*背景色*/
  border-top: solid 6px rgb(0, 74, 212);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/
  width: 45%;
  height: 50%;
  margin-bottom: 15px;
}
.introduction {
  margin: 0; 
  padding: 0;
}

.flex_stats {
  display: flex;
}

.stats{
  margin-left: 50px;
  margin-top: 40px;
}

.nickname {
  font-size: 30px;
  font-weight: bold;
  line-height: 20px;
}

.gender {
  margin-left: 0;
}
.wrapper {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}
.box_line {
  background: #fff;
  border-radius: 240px 15px 100px 15px / 15px 200px 15px 185px;
  padding: 4%;
  width: 30%;
  margin: 10px;
  color: black;
  text-align: center;
}
.box1 {
  border: 2px solid #333;
  margin: 0 auto;
  margin-top: 50px;
}
.follow_btn {
  margin-right: 20px;
}

.box8 {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #232323;
  background: #fff8e8;
  border-left: solid 10px #ffc06e;
}
.box8 p {
  margin: 0; 
  padding: 0;
}

.icon {
  width: 30%;
}

.heading02 {
  font-weight:bold;
  position: relative;
  padding: 10px;
  background: #b8b8b8;
  margin-right:20px;
  width: 25%;
}
.heading02:before {
  content: " ";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 0;
  border-color: transparent;
  border-right-color: #a6a6a6;
}
.heading02:after {
  content: " ";
  position: absolute;
  top: 0px;
  left: 100%;
  width: 0;
  height: 0;
  border-width: 22px 10px;
  border-style: solid;
  border-color: #b8b8b8;
  border-right-color: transparent;
}

.index_css {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #232323;
  background: #fff8e8;
  border-left: solid 10px #ffc06e;
  margin: 30px 50px;
}

.flex_shokai {
  display: flex;
}

.shokai {
  word-break: break-all;
}
.flex_namae {
  display: flex;
  flex-direction: column;
}

.heading03 {
  font-weight:bold;
  position: relative;
  background: #b8b8b8;
  padding: 10px;
}
.heading03:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 25px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top: 10px solid #b8b8b8;
}
.box18{
  margin:2em 0;
  position: relative;
  padding: 0.25em 1em;
  border: solid 2px #ffcb8a;
  border-radius: 3px 0 3px 0;
}
.box4{
  padding: 8px 19px;
  margin: 0 auto;
  color: #2c2c2f;
  background: #cde4ff;
  border-top: solid 5px #5989cf;
  border-bottom: solid 5px #5989cf;
  width: 20%;
  height: 50%;
  margin-bottom: 10px;
}
.box4 p {
  margin: 0; 
  padding: 0;
}
.kensaku {
  margin-left: 55%;
  font-weight:bold;
  position: relative;
  background: #b8b8b8;
  padding: 10px;
  color: black;
}

.kensaku:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 25px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top: 10px solid #b8b8b8;
}

.box15 {
  padding: 0.2em 0.5em;
  margin: 2em 40%;
  color: #565656;
  background: #ffeaea;
  box-shadow: 0px 0px 0px 10px #ffeaea;
  border: dashed 2px #ffc3c3;
  border-radius: 8px;
  width: 25%;
  text-align: center;
}
.box25{
  position: relative;
  background: #fff0cd;
  box-shadow: 0px 0px 0px 5px #fff0cd;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
  color: #454545;
  width:25%;
  margin: 2em 40%;
  text-align: center;
  height: 39%
}
.box25:after{
  position: absolute;
  content: '';
  right: -7px;
  top: -7px;
  border-width: 0 15px 15px 0;
  border-style: solid;
  border-color: #ffdb88 #fff #ffdb88;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}